<html lang="en" itemscope="" itemtype="http://schema.org/WebPage">
<head>
   <meta charset="UTF-8">
   <title>{{ .Title }}</title>
   <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="icon" role="shortcut icon" href="/favicon.png" type="image/png">
   <link rel="icon" role="shortcut icon" href="/img/logo.svg" type="image/svg+xml">
   <link rel="stylesheet" type="text/css" href="https://npmcdn.com/tachyons@4.10.0/css/tachyons.min.css">
   <style>#instantclick-bar {
      background: {{ .Site.Params.logo_bg_color }};
   }
   hr {
      width: 20%;
      margin-left: 0;
   }
   </style>
   {{ if .Site.Params.author }}
   <meta content="{{ .Site.Params.author }}" itemprop="author" name="author">
   {{ end }}
   {{ if .Site.Params.tagline }}
   <meta content="{{ .Site.Params.tagline }}" itemprop="description" name="description">
   {{ end }}

   {{ if .Site.BaseURL }}
   <link rel="canonical" href="{{.Site.BaseURL}}{{ .Page.URL }}">
   {{ end }}

   {{ if .Site.Params.author_email }}
   <link href="mailto:{{ .Site.Params.author_email }}" rel="me">
   {{ end }}
   {{ if .Site.Params.twitter_username }}
   <link href="https://twitter.com/{{.Site.Params.twitter_username}}" rel="me">
   {{ end }}
   {{ if .Site.Params.github_username }}
   <link href="https://github.com/{{.Site.Params.github_username}}" rel="me">
   {{ end }}
</head>
<body>
   <header class="ph3 ph5-ns pt1 dt">
      <div class="dtc v-mid pt0">
        <a class="link" href="/">
          <img width="44px" height="44px" src="/img/logo.svg"/>
        </a>
      </div>

      {{if .IsHome}}
      <div class="dtc v-mid ph3">
         <h1 class="mt0 mb0 baskerville fw1 f4">{{ .Site.Params.author }}</h1>
         <h2 class="gray mt1 mb0 fw4 f6">{{ .Site.Params.tagline }}</h2>
      </div>
      {{ end }}
   </header>
   {{ block "main" . }}{{ end }}
</body>
</html>
